body 
{
    background-image: url("/img/burger.jpg");
    background-size: cover;
    text-align: center;
}

#title
{
	text-align: center;
	font-family: cursive;
}

.burger
{
	margin: 10px;
}

#submit
{
	margin: 15px;
}

#burgerGlyph
{
	background-color: BurlyWood;
}

#textColor
{
	color: red;
	font-weight: bolder;
}

p
{
	font-weight: bolder;
	color: black;
}

#textInput
{
	margin-top: 20px;
	margin-bottom: 15px;
	clear: both;
}

#burgerContainer
{
	float: left;
}

#devouredContainer
{
	float: right;
}